
#contentAdmin{
  width: 100%;
  height: auto;
  margin: 0 auto;
  display:block;
  overflow:auto;
  background-image: url("../assets/50010_label.jpg");
}
.usuarios{
    width: auto;
    height: auto;
    border: 1px solid #ffffff;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%5px;
    background:rgb(0, 0, 0);
    color: #ffffff;
    text-align: center;
    display: inline-block;
    padding: 5%;
    border-radius: 15px;
  }
  #container-form2, #container-form3, #container-form4, #container-form5, #container-imagenes,  #container-form6,  #container-form7,  #container-form8{
    width: 60%;
    height: auto;
    margin-bottom: 5%;
    margin-left: 20%; 
    margin-top: 2%;
    margin: 0 auto;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
  border: 1px solid black;
  text-align: center;
  background-color:black;
  color: #ffffff;

  
  }
  @media (max-width: 992px) {

    #container-form2, #container-form3, #container-form4, #container-form5, #container-imagenes,  #container-form6,  #container-form7,  #container-form8{
      width: max-content;
      height: auto;
      margin-bottom: 5%;
      margin-top: 2%;
      margin: 0 auto;
      padding: 1%;
      padding-left: 2%;
      padding-right: 2%;
    border: 1px solid black;
    text-align: center;
    background-color:black;
    color: #ffffff;
    
    
    }
    .h1PrincipalEnAdmin{
      display: block;
      width: min-content;
      background-color: #ffffff;
      
    }

  }
  .h1PrincipalEnAdmin{
    display: block;
    width: 100%;
    background-color: #ffffff;
    margin: 0%;
  }
  .div-img-crud{
    width: 290px;
    height: 80%;
    border: 1px solid black;
    overflow:hidden;
 margin: 0 auto;
   
  }
  .img-crud{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);  
    z-index: 10;   
    padding: 3%; 
  }