.container-contact{
    width: 80%;
    height: auto;
 
    margin: 0 auto;
}
.contact-form {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 3%;
    padding-bottom: 3%;
 }
  #send-mail{
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
  }
  .contact-form input,
  .contact-form button {
    width: 90%;
    margin-top: 1%;
    border-radius: 3px; }

    .div-iframe-contact{
width: 100%;

    }