footer{
    width: 100%;

    margin: 0 auto;
  
    overflow:auto;
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #copy-right{
    float: left;
    margin-left: 15px;
  }
  #social_network{
    float: right;
width: 20%;
display: flex;
justify-content: flex-end;
  }

  .container-footer {
    width: 100%;
    background-color: #e6e4e4;
    display: flex;
    flex-wrap: wrap;
  }
  
  .section-footer {
  
  margin: 1%;
  padding: 1%;
}
  
  li {
    list-style-type: none;
 }
  


  
     .buton-subcribe{
       width:20%
     }