#footer{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display:block;
    overflow:auto;
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #copy-right{
    float: left;
    margin-left: 15px;
  }
  #social_network{
    float: right;
    margin-right: 15px;
  }