*{
  font-family: 'Germania One', cursive;
  font-size: x-large; 
  text-decoration: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  transition: all 0.15s ease-in-out;
  overflow: overlay;
  background: white;
  margin: 0;
  padding: 0;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
h1{
  text-align: center;
  font-family: 'Germania One', cursive;
  font-size: x-large; 
}
#select-form4{
  margin-top: 2%;
  font-size: large; 
}
select, input{
  font-family: 'Germania One', cursive;
  font-size: large; 
}

#container{
  text-align: left;
  margin: 0 auto;
  width: 80%;
  position: relative;
  height: auto;
}
#menu-container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display:block;
    overflow:auto;
    padding-bottom: -20px;
    background-color: #000000;
    
}




main{
  width: 100%;
  height: auto;
  margin: 0 auto;
  display:block;
  overflow:auto;
 
  
}

i{
  margin: 1%;
}
.h1-home{
font-size: xx-large;
}
.text-home{
  text-align: justify;
}