#login-div, #register-div{
    width: 100%;
  padding: 2%;
  
  margin-top:2%;


  background-color: rgba(200, 200, 212, 0.4);
border-radius: 15px;


  }
form#login, form#registro, .p-login-register{
 display: block;
margin-left: 30%;
}
  
  p{
    font-family: 'Fredoka', sans-serif;
  font-family: 'Roboto Slab', serif;
    font-size: large; 
  }
  
  a {
    
    text-decoration: none;

  }
  
  a:link {
    color: #000000;
  }

a:visited{
  color: #000000;
}
  

  
  a:active {
    background: #fafafa;
    color: #ffffff;
  }
  
  button{
    font-family: 'Germania One', cursive;
    font-size: x-large; 
  
  }
  #btn-login, #btn-create{
    font-family: 'Germania One', cursive;
    font-size: x-large; 
    width: 55%;
  }
  
  .names-of-login-section{
    padding-left: 3%;
  }
  input{
    width: 55%;
    color: #000000;
  }