#menu-container{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display:block;
  overflow:auto;
  padding-bottom: -20px;
  background-color: #000000;
}
#navbarSupportedContent {

  background-color: #000000;
height: 20%;
}

#navbarSupportedContent ul{

  margin: 0 auto;

}
#navbarSupportedContent ul li {
padding: 4%;
 background-color: #000000;
}
#navbarSupportedContent ul li a{
  color: white;

  }
#navbarSupportedContent ul li:hover {
  padding: 4%;
   background-color: white;
  
  }
  #navbarSupportedContent ul li:hover a {
    text-decoration: none;
    color: black;
   
   }
   #navbarSupportedContent ul li a:hover {
    text-decoration: none;
    color: black;
   
   }
   .nav-link {
    text-decoration: none;
   }

